p.speech{
    font-size: 16px;
    color:black;
}
p.stagedirection{
    font-size: 16px;
    background-color: lightblue ;
}
p.stagedirection:hover{
    color: lightseagreen;
    background-color: rgb(0,0,3);
}
h3.ALGERNON{
    font-family: sans-serif;
    font-size: 19px; ;
    color:violet;
}
h3.ALGERNON:hover
{
    text-shadow: 3px 3px 6px brown;
    border-style: solid;
}
h3.LANE{
    font-family: sans-serif;
    font-size: 19px;
    color: maroon;
}
h3.LANE:hover
{
    text-shadow: 3px 3px 6px chocolate;
    border-style: solid;
}
h3.JACK{
    font-family: sans-serif;
    font-size: 19px;
    color: hsl(0, 75%, 46%);
}
h3.JACK:hover
{
    text-shadow: 3px 3px 6px ;
    border-style: solid;
}
table 
{
    border: 3px solid blue;
    width: 45%;
    height: 45%;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 55px;
    margin-left: 45px;
}
td
{
    text-align: center;
    border: 2px solid blue;
    padding: 10px;
}
tr
{
    border: 1px solid black;
    padding: 10px;
    background-color: red;
}
tr:nth-child(even) 
{
    background-color:lightsalmon;
}
.link 
{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.name:hover
{
        border: 1px solid;
        border-color: inherit;
        box-shadow: 4px 6px 8px;
}
.navigation{
    width: 100%;
    overflow: auto;
}
.navigation a {
    float: left;
    padding: 12px;
    color:blue;
    text-decoration: none;
    font-size: 16px;
}
.book{
    background-color:black;
}





